<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" type="text/scss" href="{{ " assets/css/main.css" | relative_url }}">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@400;500;700&display=swap');
  </style>
</head>

<body class="bg-gray-100">
  {% include navigation.html %}

  {{ content }}
</body>

</html>